<ion-header>
  <ion-navbar color="myColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Study Material</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
    <ion-toolbar transparent>
        <button ion-button full text-uppercase (click)="openWithInAppBrowser()"><ion-icon ios="ios-paper" md="md-paper"></ion-icon>&nbsp;Order Workbook</button><br>
        <button ion-button full text-uppercase (click)="openWithInAppBrowser3()"><ion-icon ios="ios-paper" md="md-paper"></ion-icon>&nbsp;Order Previous Year Question Paper</button>
    </ion-toolbar>
    <br>
 <h3 text-center>Syllabus and Sample Questions </h3>
  <ion-card>     
      <ion-card-header>
          <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 1st STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%201st%20Std.pdf" float-right color="primary">Download</a>
      </ion-card-header>  
  </ion-card>
  <ion-card>     
  <ion-card-header>
        <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 2nd STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%202nd%20Std.pdf" float-right color="primary">Download</a>
    </ion-card-header>  
</ion-card>
<ion-card>     
  <ion-card-header>
      <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 3rd STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%203rd%20Std.pdf" float-right color="primary">Download</a>
  </ion-card-header>  
</ion-card>
<ion-card>     
<ion-card-header>
    <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 4th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%204th%20Std.pdf" float-right color="primary">Download</a>
</ion-card-header>  
</ion-card>
<ion-card>     
  <ion-card-header>
      <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 5th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%205th%20Std.pdf" float-right color="primary">Download</a>
  </ion-card-header>  
</ion-card>
<ion-card>     
<ion-card-header>
    <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 6th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%206th%20Std.pdf" float-right color="primary">Download</a>
</ion-card-header>  
</ion-card>
<ion-card>     
  <ion-card-header>
      <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 7th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%207th%20Std.pdf" float-right color="primary">Download</a>
  </ion-card-header>  
</ion-card>
<ion-card>     
<ion-card-header>
    <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 8th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%208th%20Std.pdf" float-right color="primary">Download</a>
</ion-card-header>  
</ion-card>
<ion-card>     
  <ion-card-header>
      <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 9th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%209th%20Std.pdf" float-right color="primary">Download</a>
  </ion-card-header>  
</ion-card>
<ion-card>     
<ion-card-header>
    <ion-icon ios="ios-paper" md="md-paper"></ion-icon> 10th STD Syllabus <a href="https://www.indiantalent.org/upload/studymaterial/Syllabus%20Paper%2010th%20Std.pdf" float-right color="primary">Download</a>
</ion-card-header>  
</ion-card>
<br>


</ion-content>

<ion-footer no-border>
	
</ion-footer>
