<ion-header>
  <ion-navbar color="myColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center >
  <h2>INDIAN TALENT</h2>
      <div text-center>
          <p>No. 1106, Kailas Corporate Lounge, Veer Savarkar Marg, Powai - Vikhroli Link Road, Vikhroli (West), Mumbai—400079</p>
          <p> <ion-icon ios="ios-call" md="md-call"></ion-icon> 1800 266 9192 (Toll Free)<br> 9:00am–6:00pm<br> 022-25170711,<br>022-25170811</p>
          <p>   <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon> +91-9987930600</p>
          <p> <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon> +91-9987621382</p>
          <p> <ion-icon ios="ios-mail-open" md="md-mail-open"></ion-icon> info@indiantalent.org</p>   
      </div>
</ion-content>
