page-home {
    ion-content p{
        text-align: justify;
        line-height: 20px;
    }
    ion-card{
        text-align: left;
    }
    ion-card ion-icon{
        margin-right:5px; 
    }
    ion-slides{
        height: 200px;
       
    }
    ion-navbar ion-icon{
        color: #FFF;
    }
  
}
