<ion-header>
  <ion-navbar color="myColor" >
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Indian Talent Olympiad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <h2>Welcome to Indian Talent</h2>

  
  <button ion-button icon-start (click)="schoolLogin()" >
    <ion-icon name="home"></ion-icon>
    School Login
  </button>
  <button ion-button icon-start (click)="result()">
    <ion-icon name="home"></ion-icon>
    Result
  </button>
  <button ion-button icon-start (click)="bcoordintor()">  
    Become Coordinator
  </button>
  <button ion-button icon-start (click)="study()">   
    Study Matrial 
  </button>
 
  
 

  
  <ion-slides>
      <ion-slide>
          <img src="https://www.indiantalent.org/upload/slider/2.jpg" width="100%">
      </ion-slide>
      <ion-slide>
          <img src="https://www.indiantalent.org/upload/slider/3.jpg" width="100%">
      </ion-slide>
      <ion-slide>
          <img src="https://www.indiantalent.org/upload/slider/WB.jpg" width="100%">
      </ion-slide>
    </ion-slides>
    <p>Indian Talent was established in 2012 by leading academician & scientists of the country, with the objectives of identifying and 
        nurturing student talent leading to improved academic performance.. It helps assess the knowledge, level of understanding, and reasoning ability of students (class I to class X) across India.
      </p>
      <ion-card >     
        <ion-card-header>
            <ion-icon name="flag"></ion-icon> <span style="font-size:20px;color:#0664f7;font-weight: bold"> 31,573 </span> <span style="color:#0664f7;">+ Schools</span>
        </ion-card-header>  
    </ion-card>
    <ion-card >     
        <ion-card-header>
            <ion-icon name="flag"></ion-icon> <span style="font-size:20px;color:#0664f7;font-weight: bold">1 crore</span> <span style="color:#0664f7;">+ Students</span>
        </ion-card-header>  
    </ion-card>
    <ion-card >     
        <ion-card-header>
            <ion-icon name="flag"></ion-icon> <span style="font-size:20px;color:#0664f7;font-weight: bold">4,00,000</span><span style="color:#0664f7;">+ Class Toppers</span>  <span style="color:#0664f7;font-size:12px;"> (Every Year)</span>
        </ion-card-header>  
    </ion-card>
    <ion-card >     
        <ion-card-header>
            <ion-icon name="flag"></ion-icon> <span style="font-size:20px;color:#0664f7;font-weight: bold">7000</span> <span style="color:#0664f7;">+ Scholarship Winners</span> <span style="color:#0664f7;font-size:12px;"> (Every Year)</span>
        </ion-card-header>  
    </ion-card>
    <br>
  <h3> Indian Talent Olympiad Exams</h3>
  <ion-card>     
      <ion-card-header>
        <span style="color:#0664f7;font-weight: bold">National Science Indian Talent Olympiad(NSITO)</span> 
      </ion-card-header>  
  </ion-card>
  <ion-card>     
        <ion-card-header>
            <span style="color:#0664f7;font-weight: bold">National Mathematics Indian Talent Olympiad(NMITO)</span> 
        </ion-card-header>  
  </ion-card>
  <ion-card>     
      <ion-card-header>
        <span style="color:#0664f7;font-weight: bold">National English Indian Talent Olympiad(NEITO)</span> 
      </ion-card-header>  
  </ion-card>
  <ion-card>     
        <ion-card-header>
            <span style="color:#0664f7;font-weight: bold">National Knowledge Indian Talent Olympiad(NKITO)</span> 
        </ion-card-header>  
  </ion-card>
  <ion-card>     
      <ion-card-header>
        <span style="color:#0664f7;font-weight: bold">National  Computer Indian Talent Olympiad(NCITO)</span>
      </ion-card-header>  
  </ion-card>
  <ion-card>     
        <ion-card-header>
            <span style="color:#0664f7;font-weight: bold">National Art Indian Talent Olympiad(NAITO)</span> 
        </ion-card-header>  
  </ion-card>
  <ion-card>     
    <ion-card-header>
        <span style="color:#0664f7;font-weight: bold">National Essay Indian Talent Olympiad (NEITO)</span> 
    </ion-card-header>  
</ion-card>
<ion-card>     
  <ion-card-header>
      <span style="color:#0664f7;font-weight: bold">National Social Indian Talent Olympiad (NSOITO)</span> 
  </ion-card-header>  
</ion-card>
  <ion-card>     
      <ion-card-header>
        <span style="color:#0664f7;font-weight: bold">National Essay Indian Talent (NESSIT)</span> 
      </ion-card-header>  
  </ion-card>
  
</ion-content>
