<ion-header>
  <ion-navbar color="myColor" hideBackButton="true">
    <ion-title><ion-icon name="arrow-round-back" (click)="logout()" float-lrft style="color:white; font-size:20px;"></ion-icon> &nbsp;Dashboard</ion-title>
    <!-- <button ion-button color="secondary" (click)="logout()" float-right clear>LogOut</button> -->
  </ion-navbar>
</ion-header>


<ion-content>
  <span class="schinfo">
    <h4>School Address</h4>
    <h6>{{schooladd}}</h6>
    <h4>School Name</h4>
    <h6>{{schoolname}}</h6><br>
    <h6>Student Count : {{StudentCount}}</h6>
    <h6>School Code : {{schoolcode}}</h6>
  </span>

  <ion-card padding class="viewresult">
    <p>2st Round Result 2018-19&nbsp; <a style="color:red;" href="{{vurl}}" color="primary">View</a> /
    <a style="color:red;" href="{{durl}}" color="primary">Download</a></p>
  </ion-card>

  <!-- <ion-card padding>
    <a (click)="openWithInAppBrowser3()" color="primary">Previous Years Question Papers</a>
  </ion-card>
  <ion-card padding>
    <a (click)="openWithInAppBrowser5()" >Order Workbook</a>
  </ion-card>
  <div padding>
  <button ion-button color="myColor" full [class.hide]="show" (click)="appstore()">
    Order Eduezy Study App
  </button>
</div> -->

  <div padding class="note">
      <h5 style="color:blue;">Important Notes</h5>
      <p>A. School Awards & Student Awards will be dispatched in the month of June, 2019.</p>
      <p>B. Students:</p>
      <p>i) Students who have achieved National Level Rank between 1 & 4 will get the Scholarships/ Prizes/ Awards according to the National Level</p>
      <p>ii) Students who have achieved State Level Rank between 1 & 10, will get scholarships.</p>
      <p>iii) Students who have achieved State Level Rank between 11 & 25, will get the Excellence Medal.</p>
      <p>iv) If student has achieved any National/State Rank then the Prizes/Awards/scholarships will be sent to the respective schools in the month of June, 2019.</p>
    </div>
</ion-content>