<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar color="dark" >
      <img src="../assets/imgs/logo.png" width="50px"> <br/>
      <h3>Indian Talent Olympiad</h3>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name={{p.logo}}></ion-icon>   {{p.title}}
      </button>
    </ion-list> -->

    <ion-list>
        <ion-item ion-item *ngFor="let p of pages"  (click)="openPage(p)">
          <ion-row>
            <ion-col class="menu-name">
              <span>
                  <ion-icon name={{p.logo}}></ion-icon>   {{p.title}}
              </span>
           
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>


  </ion-content>
  <ion-footer>
    <ion-item>
        <button ion-button color="myColor" (click)="call()" full><ion-icon name="call"></ion-icon>&nbsp; 1800-266-9192</button>
    </ion-item>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>