<ion-header>
  <ion-navbar color="myColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Exam Pattern</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <h5 text-center>The following six exams are conducted each year examinations each for class I to class X</h5>
<p>Overall question paper pattern include problem-based figure, series completion, odd one out, coding-decoding, mirror images, embedded figures, symmetry and alphabetical test questions</p>
<p>Complexity of the question paper varies according to the class. For each class, questions are prepared by understanding their knowledge, ability and reasoning capacity</p>


<p><b>Total number of questions:</b> 35 (Class 1 to 4); 50 (Class 5 to 10)</p>
<p><b>Total marks: </b> 50</p>
<p><b>Duration of the examination: </b> 65 minutes</p>
<p><b>Centre of the exam: </b> Student's respective schools</p>


<table class="responsive-table Fee-table">
  <tbody>
     
     <tr>
    
        <td class="sub_heading">Subject</td>
        <td class="sub_heading">Exam Fee</td>
       
     </tr>
     <tr>
     
        <td>National Science Indian Talent </td>
        <td>Rs. 130</td>
        
     </tr>
     <tr>
       
      <td>National Mathematics Indian Talent </td>
      <td>Rs.&nbsp;<span>130</span></td>
        
     </tr>
     <tr>
       
      <td>National English Indian Talent</td>
      <td>Rs.&nbsp;<span>130</span></td>
       
     </tr>
     <tr>
     
      <td>National Knowledge Indian Talent </td>
      <td>Rs. 130</td>
      
     </tr>
<tr>
      
        <td>National Cyber Indian Talent</td>
        <td>Rs. 130</td>
       
     </tr>
<tr>
      
        <td>National Art Indian Talent </td>
        <td>Rs. 130</td>
       
     </tr>
  </tbody>
</table>


</ion-content>
